@charset "UTF-8";

html{
    font-size: 62.5%;
}

body{
    color: #333;
    font-size : 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*,*::before , *::after{
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active{
    color: #d03c56;
    text-decoration: none;
}

/*
.button1 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: blueviolet;
    color: white;
    border-style: none;
    box-shadow: 2px 2px 3px 1px #666;
}
*/

.header{
    width: 100%;
    padding: 28px 0 10px;
    background: url("../images/bg-header.gif") repeat-x;
    box-shadow: 0 0 10px 1px #e3e3e3;
}

.logo {
    width: 225px;
    height: 56px;
    margin: 0 auto;
    background: url('../images/logo.png') no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 970px;
    margin: 30px auto 40px;
}
.main {
    display: block;
    float: left;
    width: 660;
}
.sidemenu {
    float:right;
    width: 275px;
}

.footer{
    width: 100%;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

/*
.header, .main, .sidemenu, .footer {
    border: 1px solid #aaa;
    background-color: #ccc;
}
*/

.header .footer{
    height: 100px;
}

.main, .sidemenu{
    height: 500px;
}

.svg_graph{
    width:500px;
}
.vertex .active{
    fill: #d03c56;
}
.vertex .nonactive{
    fill: #aaa;
}