@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    color: #333;
    background-color: rgba(0,0,0,0.03);
    font-size : 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*,*::before , *::after{
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active{
    color: #d03c56;
    text-decoration: none;
}

/*
.button1 {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: blueviolet;
    color: white;
    border-style: none;
    box-shadow: 2px 2px 3px 1px #666;
}
*/

.header{
    width: 100%;
    padding: 28px 0 10px;
    background: url("../images/bg-header.gif") repeat-x;
    box-shadow: 0 0 10px 1px #e3e3e3;
}

.title{
    font-family: 'Economica', sans-serif;
    font-size: 2.5em;
    height: 56px;
    color: #314661;
    margin: 20 auto 50;
    text-align: center;
}


.logo {
    width: 225px;
    height: 56px;
    margin: 0 auto;
}


.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 970px;
    margin: 30px auto 40px;
}
.main {
    display: block;
    margin: 0 auto;
    width: 750px;
}


.footer{
    width: 100%;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.header .footer{
    height: 100px;
}

.upload_image{
    width: 400px;
}

.svg_model{
    width: 750px;
    margin: 20px 0px;
}
.vertex .active{
    fill: #d03c56;
}
.vertex .nonactive{
    fill: #aaa;
}
.edge {
    stroke-width: 3;
    stroke: #d03c56;
    stroke-linecap: round;
}
.hide {
    fill-opacity: 0;
}
.maze_background {
    fill: #333;
}
.maze .floor {
    fill: #ddd;
}
.maze .unreach-floor {
    fill: #ddd;
}
.maze .reach-floor {
    fill: #d03c56;
}
.btn-flat-border {
  font-size: 1.8em;
  font-weight: bold;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: rgb(250, 250, 250);
  color: #d03c56;
  border: solid 2px #d03c56;
  border-radius: 3px;
  transition: .2s;
}

.btn-flat-border:hover {
  background: #d03c56;
  color: white;
}

#main_canvas {
    background-color: #fff;
}